html, body {
    height:100%;
    padding:0;
    margin:0;
    background: white;
}
.container:after {
  content: ' ';
  display: block;
  clear: both;
}
.video {
    background-color: rgba(0,0,0,0.65);
    width:50%;
    min-height:150px;
    padding:0;
    margin:0;
    z-index:1;
    opacity: 0.65;
    transition: 1s all;
    float:left;
}
.video:hover {
    opacity: 1;
        transition: 1s all;

}
.video.verde {
    background-color: rgba(0,205,0,1);
}
.video.azul {
    background-color: rgba(0,25,200,1);
}
.video.vermelho {
    background-color: rgba(200,25,20,1);
}
.video.magenta {
    background-color: rgba(200,25,200,1);
}
.logo {
    /*position: absolute;*/
    width:100%;
    top:150px;
    background: white;
    min-height:300px;
    float:left;
    opacity:1;   
    position:absolute;

}
.only-small {
    display:block;
}
.only-medium {
    display:none;
}
.only-big {
    display:none;
}
@media screen and (min-width: 620px) {
  
    
    .only-small {
        display:none;
    }
    .only-medium {
        display:block;
    }
    .only-big {
        display:none;
    }
    .video {
        width:33.3333%;
    }  
    .logo {
        width:100%;
        min-height:300px;
    }
}
@media screen and (min-width: 960px) {
    
    .only-medium {
        display:none;
    }
    
    .only-big {
        display:block;
    }
    .video {
        width:25%;    
        min-height:200px;

    }  
    .logo {
        width:50%;
        left:25%;
        top:200px;
        min-height:400px;
    }
}