html, body {
    height:100%;
    padding:0;
    margin:0;
    background: black;
    max-width: none;
    width: 100%;
}
h1, h2, h3, h4 {
  font-family: 'FertigoProRegular',Georgia,serif; 
}
.container:after {
  content: ' ';
  display: block;
  clear: both;
}
.video {
    background-color: rgba(0,0,0,0.65);
    width:50%;
    min-height:150px;
    padding:0;
    margin:0;
    z-index:1;
    opacity: 0.65;
    transition: opacity 1s ease,
                background-size 0.5s linear;
    float:left;
    color:white;
    background-position: center center;
    background-size: 120%;
    overflow:hidden;
    position: relative;
}
.video:hover {
    opacity: 1;
    transition: opacity 1s ease,
                background-size 0.5s linear;
    background-size: 130%;
}
.video h2 {
  margin:0;
  padding:0.4em 0.6em;
  background-color: rgba(0,0,0,0.65);
  max-height:0;
  box-sizing: border-box;
  opacity:0;
  transition: all 1s ease;
  position: absolute;
  bottom:0;
  width:100%;
}
.video:hover h2 {
  opacity:1;
  max-height: 80%;
}
.logo {
    /*position: absolute;*/
    width:100%;
    top:150px;
    background: white;
    min-height:300px;
    float:left;
    opacity:1;   
    position:absolute;

}
.only-small {
    display:block;
}
.only-medium {
    display:none;
}
.only-big {
    display:none;
}
@media screen and (min-width: 620px) {
  
    
    .only-small {
        display:none;
    }
    .only-medium {
        display:block;
    }
    .only-big {
        display:none;
    }
    .video {
        width:33.3333%;
    }  
    .logo {
        width:100%;
        min-height:300px;
    }
}
@media screen and (min-width: 960px) {
    
    .only-medium {
        display:none;
    }
    
    .only-big {
        display:block;
    }
    .video {
        width:25%;    
        min-height:200px;

    }  
    .logo {
        width:50%;
        left:25%;
        top:200px;
        min-height:400px;
    }
}